p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
  line-height: normal;
}
pre code {
  white-space: inherit;
  background-color:silver;
}

.notes{
  padding: 5px !important;
  border-radius: 5px !important;
  background-color:Khaki !important;

}

pre.output{
  background-color:#333 !important;
  color:#EEE !important;
  border-radius: 5px !important;
}

